{% extends 'base_no_navbar.html' %}

{% block title %}登入{% endblock title %}

{% block body %}
    <form action="" method="post" class="login-form">
        <div>
            <a href="{% url 'homepage' %}" class="logo">
                <div></div>
                <p>大直高中無線網路</p>
            </a>
    
            <p class="title">
                登入
            </p>

            {% csrf_token %}
            {% for message in form.non_field_errors %}
                {{message}}
            {% endfor %}

            <div class="input">
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                <label>使用者名稱</label>
            </div>
    
            <div class="input">
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                <label>密碼</label>
            </div>
    
            <div class="function">
                <div class="info">
                    <p>忘記密碼？</p>
                    <p>請詢問資訊組長</p>
                </div>

                <input class="primary-button large-button" type="submit" value="登入">
            </div>
        </div>
    </form>
{% endblock body %}