{% extends 'base.html' %}

{% block body %}
<p>變更密碼</p>
<p>為了您的安全性</p>

<form action="" method="post">
    {% csrf_token %}
    {% for message in form.non_field_errors %}
        {{message}}
    {% endfor %}

    <p>
        <label for="id_password1">
            舊密碼
        </label>
        <input type="password" name="old_password" autocomplete="new-password" required="" id="id_password1" placeholder="舊密碼">
    </p>

    {% if form.errors.old_password %}
        {{ form.errors.old_password }}
    {% endif %}

    <p>
        <label for="id_password2">
            新密碼
        </label>
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_password2" placeholder="新密碼" class="form-control">
    </p>

    {% if form.errors.new_password1 %}
        {{ form.errors.new_password1 }}
    {% endif %}

    <p>
        <label for="id_password2">
            新密碼確認
        </label>
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_password2" placeholder="新密碼確認" class="form-control">
    </p>

    {% if form.errors.new_password2 %}
        {{ form.errors.new_password2 }}
    {% endif %}

    <input type="submit" value="變更密碼">
</form>
{% endblock body %}
