/* CSS Reset */
/* ------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------ */


/* 全域設定 */
/* ------------------------------ */

:root *{
    /* 方便觀察用 */
    /* border: 1px black solid; */
}

*::selection{
    color: var(--color-white);
    background-color: var(--color-dcsh-blue-1);
}

:root{
    --color-dcsh-blue-0: #004786;
    --color-dcsh-blue-1: #005faf;
    --color-dcsh-blue-2: #4f92e8;
    --color-dcsh-blue-3: #ebf1ff;
    --color-gray-1: #a6a6a6;
    --color-white: #ffffff;
    --color-warning: #de3730;

    --radius-1: 16px;
    --radius-2: 12px;
    --radius-3: 8px;
    --radius-4: 4px;

    --shadow-1: 0px 0px 24px rgba(0, 0, 0, 0.08);
    --shadow-2: 0px 0px 8px rgba(0, 0, 0, 0.16);
    --shadow-3: 0px 0px 8px rgba(0, 0, 0, 0.08);
    
    --font: 'Noto Sans', 'Noto Sans TC', 'sans-serif';

    --animation-speed: 100ms;
}


body {
    font-family: var(--font);
    font-size: 12px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.r20px{
    position: relative;
    right: 20px;
}

/* Logo */
/* ------------------------------ */

.logo{
    align-items: center;
}

.logo > div{
    background-image: url("/static/img/DCSHLogoVector.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 27.6804px;
    width: 42.6038px;

    display: inline-block;
    vertical-align: middle;
}

.logo > p{
    color: var(--color-dcsh-blue-1);

    font-size: 23.15px;
    font-weight: 500;

    display: inline;
    vertical-align: middle;
    padding-left: 18px;
}

/* ------------------------------ */


/* Login form */
/* ------------------------------ */

.login-form{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form>div{
    max-width: 506px;

    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form .title{
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;

    margin-top: 45px;
    margin-bottom: 45px;
}

.login-form .input ~ .input{
    margin-top: 17px;
}

.login-form .info>p{
    font-size: 18px;
    font-weight: 500;
}

.login-form .info>p ~ p{
    margin-top: 3.6px;
}

.login-form .function{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}

.login-form .login-form-error{
    padding-top: 45px;
    width: 388.5px;
    /* width: 100%; */
}

.login-form .login-form-error p{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: var(--color-warning);
}

/* ------------------------------ */


/* Form */
/* ------------------------------ */

.input{
    position: relative;
    width: 388.5px;
}

.input input{
    background-color: var(--color-white);
    border: var(--color-gray-1) solid 0.25px;
    border-radius: var(--radius-4);
    outline: none;
    
    font-size: 20px;
    text-indent: 20px;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 54px;
}

.input label{
    font-size: 20px;

    position: absolute;
    left: 0;

    margin-left: 20px;
    
    pointer-events: none;

    transition: var(--animation-speed);
    transform: translateY(-38px);
}

.input input:valid ~ label,
.input input:focus ~ label{
    color: var(--color-dcsh-blue-0);
    background-color: var(--color-white);

    font-size: 14px;

    padding-left: 5px;
    padding-right: 5px;
    transform: translate(-6px, -63px);
}

.input input:valid,
.input input:focus{
    border-color: var(--color-dcsh-blue-0);
}

.primary-button{
    background-color: var(--color-dcsh-blue-1);
    border: none;
    border-radius: var(--radius-4);
    color: var(--color-white);

    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    height: 32px;

    transition: 100ms;
    cursor: pointer;
}

.white-button{
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-4);
    color: #000000;
}

.warring-button{
    background-color: var(--color-warning);
    border: none;
    border-radius: var(--radius-4);
    color: var(--color-white);
}

.large-button{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;

    height: 54px;
}

.form .field{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;  
}

.form .field p{
    font-size: 26px;
    font-weight: 500;
}

.form .field div{
    flex-grow: 1;
    margin-left: 26.5px;
}

.form .field div>input{
    height: 50px;
    width: calc(100% - 7px);

    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);

    font-size: 22px;
    text-indent: 13.25px;
}

.form .field div>textarea{
    width: calc(100% - 3px - 13.25px - 13.25px);

    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);

    font-size: 16px;
    text-indent: 13.25px;
    padding: 13.25px;
}

.form .errorlist{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
    color: var(--color-warning);
}

.form .function{
    display: flex;
    justify-content: center;
}

.form .function input ~ input{
    margin-left: 20px;
}

.form select{
    width: calc(100% - 1px);

    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);

    font-size: 16px;
    padding: 13.25px;
}

/* ------------------------------ */


/* Navbar */
/* ------------------------------ */

.navbar{
    background-color: var(--color-white);
    box-shadow: var(--shadow-1);

    width: calc(100% - 160px);
    height: 65px;

    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
}

.navbar a ~ a{
    margin-left: 32px;
    font-size: 18px;
    color: #000000;
}

.navbar>p{
    font-size: 18px;
}

.navbar .nav-spacer{
    flex-grow: 1;
}

/* ------------------------------ */


/* Navbar */
/* ------------------------------ */

.user-info{
    margin-left: 40px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
}

.user-info>div>p:nth-child(1){
    font-size: 40px;
    font-weight: 600;
}

.user-info>div>p:nth-child(2){
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.user-info>div:nth-child(2){
    background-color: var(--color-gray-1);

    height: 76px;
    width: 5px;
    border-radius: 2.5px;

    margin-left: 32px;
    margin-right: 32px;
}

/* ------------------------------ */

.icon{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Content */
/* ------------------------------ */

.content{
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;

    min-width: 640px;

    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.content>.main{
    width: 80%;
    max-width: 900px;
}

.content>.side{
    width: 380px;
    padding-left: 40px;
}

.container{
    background-color: var(--color-white);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);

    padding: 30px;
    margin-bottom: 40px;
}

.container .title{
    font-size: 28px;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.title>.icon{
    width: 100px;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
}

.title>p{
    flex-grow: 1;
}

.title .head p:last-child{
    padding-top: 8px;
    font-weight: 500;
}

.container>.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container>.head>.title{
    padding-right: 24px;
}

.container>.inline{
    font-size: 22px;
    padding-bottom: 4px;
}

.container>.inline-title{
    font-size: 22px;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 4px;
}

.container>.hr{
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-1);
    border-radius: 0.5px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.blocks{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.ctx_block{
    width: 48%;
    height: 175px;
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);
    
    flex-shrink: 0;

    margin: 5px;
    margin-bottom: 20px;
    background-color: var(--color-white);

    display: flex;
    align-items: center;
    flex-grow: 1;
}

.ctx_block>p{
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

.ctx_block>.icon{
    height: 60%;
    aspect-ratio : 1 / 1;
    flex-shrink: 0;
    padding-left: 40px;
}

/* ------------------------------ */

.sqr-button{
    height: 96px;
    aspect-ratio : 1 / 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);

    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.sqr-button .icon{
    height: 50%;
    aspect-ratio: 1 / 1;
}

.icon-devices{
    background-image: url("/static/img/icon/devices.svg");
}

.icon-add{
    background-image: url("/static/img/icon/add.svg");
}

.icon-delete{
    background-image: url("/static/img/icon/delete.svg");
}

.icon-edit{
    background-image: url("/static/img/icon/edit.svg");
}

.icon-error{
    background-image: url("/static/img/icon/error.svg");
}

.icon-do_not_disturb{
    background-image: url("/static/img/icon/do_not_disturb.svg");
}

.icon-web_asset_off{
    background-image: url("/static/img/icon/web_asset_off.svg");
}

.icon-dns{
    background-image: url("/static/img/icon/dns.svg");
}

.icon-signature{
    background-image: url("/static/img/icon/signature.svg");
}

.icon-logout{
    background-image: url("/static/img/icon/logout.svg");
}

.icon-login{
    background-image: url("/static/img/icon/login.svg");
}

.icon-folder_managed{
    background-image: url("/static/img/icon/folder_managed.svg");
}

.icon-group{
    background-image: url("/static/img/icon/group.svg");
}

.icon-password{
    background-image: url("/static/img/icon/password.svg");
}

.icon-developer_mode{
    background-image: url("/static/img/icon/developer_mode.svg");
}

.sqr-button p{
    font-size: 16.5px;
    font-weight: 700;
}

.side>.container .title{
    margin-bottom: 20px;
}

.side .function{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button-ani{
    transition: var(--animation-speed);
}

.button-ani:hover{
    filter: brightness(95%);
    box-shadow: var(--shadow-3);
}

.button-ani:active{
    filter: brightness(75%);
    transform: scale(90%);
    box-shadow: var(--shadow-2);
}

.rect-button{
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);

    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.rect-button .icon{
    height: 25px;
    width: 25px;
}

.rect-button p{
    font-size: 18px;
    font-weight: 700;
    padding-left: 3px;
}

/* ------------------------------ */

.big-blocks{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.big_ctx_block{
    width: 100%;
    height: 175px;
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);
    
    flex-shrink: 0;

    margin-top: 5px;
    margin-bottom: 20px;
    background-color: var(--color-white);

    display: flex;
    align-items: center;
}

.big_ctx_block .head p{
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

.big_ctx_block .head-info p{
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.big_ctx_block .head p:nth-child(1){
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 16px;
}

.big_ctx_block .head{
    flex-grow: 1;
}

.big_ctx_block>.icon{
    height: 60%;
    aspect-ratio : 1 / 1;
    padding-left: 40px;
}

.big_ctx_block a:last-child{
    margin-right: 20px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.error>.icon{
    width: 256px;
    height: 256px;
    padding-bottom: 27.5px;
}

.error>.big-title{
    font-size: 72px;
    font-weight: 500;
    padding-top: 27.5px;
    padding-bottom: 27.5px;

}

.error .bold{
    font-weight: 700;
}

.error>.primary-button{
    aspect-ratio : 1 / 1;
    font-size: 39px;
    width: 215px;
    height: 87.5px;
    margin-top: 27.5px;
}


.container>.spacer{
    height:16px;
}
.container>table{
    width: 100%;
}

.container>table th{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    
    border-bottom: 1px solid var(--color-gray-1);

    padding: 10px 5px 10px 5px;
}

.container>table a{
    color: #000000;
}

.container>table td{
    font-size: 18px;
    padding: 10px 5px 10px 5px;
}

.container>table tr{
    background-color: var(--color-white);
}

.container>table tr:hover{
    filter: brightness(95%);
}

.container>table th{
    background-color: var(--color-white);
}

.container>table th:hover{
    filter: brightness(95%);
}

.container>table td{
    background-color: var(--color-white);
}

.container>table td:hover{
    filter: brightness(95%);
}

.container>table .function{
    display: flex;
    justify-content: left;
    align-items: center;
}

.container>table .function a:last-child{
    padding-left: 10px;
}

.container>table .function p{
    color: var(--color-dcsh-blue-1);
    text-decoration: underline;
}




.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.pagination .page{
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid var(--color-gray-1);
    border-bottom: 1px solid var(--color-gray-1);

    background-color: var(--color-white);

    transition: var(--animation-speed);
}

.pagination .now{
    background-color: var(--color-dcsh-blue-3);
    height: 42px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid var(--color-gray-1)!important;
    border-radius: var(--radius-3)!important;
}

.pagination .page:nth-child(3){
    border-left: 1px solid var(--color-gray-1);
    border-top: 1px solid var(--color-gray-1);
    border-bottom: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3) 0px 0px var(--radius-3);

    margin-left: 15px;
}

.pagination .page:nth-last-child(3){
    border-right: 1px solid var(--color-gray-1);
    border-top: 1px solid var(--color-gray-1);
    border-bottom: 1px solid var(--color-gray-1);
    border-radius: 0px var(--radius-3) var(--radius-3) 0px;

    margin-right: 15px;
}

.pagination .page p:not(.movement){
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.pagination .page:hover{
    filter: brightness(95%);
}

.pagination .page:active{
    filter: brightness(75%);
}

.pagination .now p{
    font-size: 20px;
}

.pagination .control p{
    font-size: 14px;
}

.pagination .control{
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
    background-color: var(--color-white);

    transition: var(--animation-speed);
}

.pagination .control:hover{
    filter: brightness(95%);
}

.pagination .control:active{
    filter: brightness(75%);
}

.pagination .control:nth-child(1),
.pagination .control:nth-last-child(2){
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3) 0px 0px var(--radius-3);
}

.pagination .control:nth-child(2),
.pagination .control:nth-last-child(1){
    border: 1px solid var(--color-gray-1);
    border-left: none;
    border-radius: 0px var(--radius-3) var(--radius-3) 0px;
}

.pagination .disable{
    filter: brightness(95%);
    opacity: 50%;
}

.pagination .disable:hover{
    filter: brightness(95%);
    opacity: 50%;
}

.pagination .disable:active{
    filter: brightness(95%);
    opacity: 50%;
}