/* CSS Reset */
/* ------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------ */


/* 全域設定 */
/* ------------------------------ */

:root *{
    /* 方便觀察用 */
    /* border: 1px black solid; */
}

*::selection{
    color: var(--color-white);
    background-color: var(--color-dcsh-blue-1);
}

:root{
    --color-dcsh-blue-0: #004786;
    --color-dcsh-blue-1: #005faf;
    --color-dcsh-blue-2: #4f92e8;
    --color-dcsh-blue-3: #ebf1ff;
    --color-gray-1: #a6a6a6;
    --color-white: #ffffff;

    --radius-1: 16px;
    --radius-2: 12px;
    --radius-3: 8px;
    --radius-4: 4px;

    --shadow-1: 0px 0px 24px rgba(0, 0, 0, 0.08);
    --shadow-2: 0px 0px 8px rgba(0, 0, 0, 0.16);
    
    --font: 'Noto Sans', 'Noto Sans TC', 'sans-serif';

    --animation-speed: 100ms;
}


body {
    font-family: var(--font);
    font-size: 12px;
}

/* Logo */
/* ------------------------------ */

.logo{
    align-items: center;
    text-decoration: none;
}

.logo > div{
    background-image: url("/static/img/DCSHLogoVector.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 27.6804px;
    width: 42.6038px;

    display: inline-block;
    vertical-align: middle;
}

.logo > p{
    color: var(--color-dcsh-blue-1);

    font-size: 23.15px;
    font-weight: 500;

    display: inline;
    vertical-align: middle;
    padding-left: 18px;
    text-decoration: none;
}

/* ------------------------------ */


/* Login form */
/* ------------------------------ */

.login-form{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form>div{
    max-width: 506px;

    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form .title{
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;

    margin-top: 45px;
    margin-bottom: 45px;
}

.login-form .input ~ .input{
    margin-top: 17px;
}

.login-form .info>p{
    font-size: 18px;
    font-weight: 500;
}

.login-form .info>p ~ p{
    margin-top: 3.6px;
}

.login-form .function{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}

/* ------------------------------ */


/* Form */
/* ------------------------------ */

.input{
    position: relative;
    width: 388.5px;
}

.input input{
    background-color: var(--color-white);
    border: var(--color-gray-1) solid 0.25px;
    border-radius: var(--radius-4);
    outline: none;
    
    font-size: 20px;
    text-indent: 20px;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 54px;
}

.input label{
    font-size: 20px;

    position: absolute;
    left: 0;

    margin-left: 20px;
    
    pointer-events: none;

    transition: var(--animation-speed);
    transform: translateY(-38px);
}

.input input:valid ~ label,
.input input:focus ~ label{
    color: var(--color-dcsh-blue-0);
    background-color: var(--color-white);

    font-size: 14px;

    padding-left: 5px;
    padding-right: 5px;
    transform: translate(-6px, -63px);
}

.input input:valid,
.input input:focus{
    border-color: var(--color-dcsh-blue-0);
}

.primary-button{
    background-color: var(--color-dcsh-blue-1);
    border: none;
    border-radius: var(--radius-4);
    color: var(--color-white);

    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    height: 32px;

    transition: 100ms;
}

.primary-button:hover{
    background-color: var(--color-dcsh-blue-0);
    box-shadow: var(--shadow-2);
}

.primary-button:active{
    background-color: var(--color-dcsh-blue-0);
    box-shadow: var(--shadow-2);

    transform: scale(90%);
    filter: brightness(75%);
}

.large-button{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;

    height: 54px;
}

/* ------------------------------ */


/* Navbar */
/* ------------------------------ */

.navbar{
    background-color: var(--color-white);
    box-shadow: var(--shadow-1);

    width: calc(100% - 160px);
    height: 65px;

    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
}

.navbar a{
    text-decoration: none;
}

.navbar a ~ a{
    margin-left: 32px;
}

.navbar a ~ a p{
    color: #000000;
    font-size: 18px;
}

.navbar .nav-spacer{
    flex-grow: 1;
}

/* ------------------------------ */


/* Navbar */
/* ------------------------------ */

.user-info{
    margin-left: 40px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
}

.user-info>div>p:nth-child(1){
    font-size: 40px;
    font-weight: 600;
}

.user-info>div>p:nth-child(2){
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.user-info>div:nth-child(2){
    background-color: var(--color-gray-1);

    height: 76px;
    width: 5px;
    border-radius: 2.5px;

    margin-left: 32px;
    margin-right: 32px;
}

/* ------------------------------ */

/* Content */
/* ------------------------------ */

.content{
    margin-top: 150px;

    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.content>.main{
    width: 80%;
    max-width: 1000px;
}

.content>.side{
    width: 25%;
    max-width: 418px;
}

.content>.side>.container{
    margin-left: 40px;
}

.container{
    background-color: var(--color-white);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);

    padding: 30px;
    margin-bottom: 40px;
}

.container .title{
    font-size: 28px;
    font-weight: 700;
}

.container>.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container>.head a{
    text-decoration: none;
}

.container>.head>.title{
    padding-right: 24px;
}

.container>.inline{
    font-size: 22px;
    padding-bottom: 4px;
}

.container>.inline-title{
    font-size: 22px;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 4px;
}

.container>.hr{
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-1);
    border-radius: 0.5px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.blocks{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.ctx_block{
    width: 48%;
    height: 175px;
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);
    
    flex-shrink: 0;

    margin: 5px;
    margin-bottom: 20px;
    background-color: var(--color-white);

    display: flex;
    align-items: center;
    flex-grow: 1;
}

.ctx_block>p{
    color: #000000;
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
}

.ctx_block>.icon{
    height: 60%;
    aspect-ratio : 1 / 1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    padding-left: 40px;
}

/* ------------------------------ */

.sqr-button{
    height: 96px;
    aspect-ratio : 1 / 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);

    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sqr-button .icon{
    height: 50%;
    aspect-ratio: 1 / 1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-devices{
    background-image: url("/static/img/icon/devices.svg");
}

.icon-add{
    background-image: url("/static/img/icon/add.svg");
}

.icon-delete{
    background-image: url("/static/img/icon/delete.svg");
}

.icon-edit{
    background-image: url("/static/img/icon/edit.svg");
}

.sqr-button p{
    font-size: 16.5px;
    font-weight: 700;
}

.side>.container .title{
    margin-bottom: 20px;
}

.side .function{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button-ani{
    transition: var(--animation-speed);
}

.button-ani:hover{
    filter: brightness(95%);
}

.button-ani:active{
    filter: brightness(75%);
    transform: scale(90%);
}

.button-ani{
    text-decoration: none;
}

.rect-button{
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);

    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rect-button .icon{
    height: 25px;
    width: 25px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.rect-button p{
    font-size: 18px;
    font-weight: 700;
    padding-left: 3px;
}

/* ------------------------------ */

.big-blocks{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.big_ctx_block{
    width: 100%;
    height: 175px;
    border: 1px solid var(--color-gray-1);
    border-radius: var(--radius-3);
    
    flex-shrink: 0;

    margin: 5px;
    margin-bottom: 20px;
    background-color: var(--color-white);

    display: flex;
    align-items: center;
}

.big_ctx_block .head p{
    color: #000000;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.big_ctx_block .head p:nth-child(1){
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.big_ctx_block .head{
    flex-grow: 1;
}

.big_ctx_block>.icon{
    height: 60%;
    aspect-ratio : 1 / 1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    padding-left: 40px;
}

.big_ctx_block a{
    text-decoration: none;
}

.big_ctx_block a:last-child{
    padding-right: 20px;
}