{% load static %}

<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock title %} </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'homepage' %}">
            <div class="logo">
                <div></div>
                <p>大直高中無線網路</p>
            </div>
        </a>

        <a href="{% url 'homepage' %}">
            <p id="homepage-button">首頁</p>
        </a>

        {% if user.is_authenticated %}
            <a href="{% url 'device_managing' %}">
                <p>我的裝置</p>
            </a>
            {% if perms.main.admin %}
                <a href="{% url 'manage' %}">
                    <p>裝置管理</p>
                </a>
                <a href="{% url 'group_managing' %}">
                    <p>群組管理</p>
                </a>
            {% endif %}
            <a href="{% url 'logout' %}">
                <p>登出</p>
            </a>
        {% else %}
        <a href="{% url 'login' %}">
            <p>登入</p>
        </a>
        {% endif %}
    </div>

    <div class="content">
        <div class="main">
            {% block body %}{% endblock body %}
        </div>
        <div class="side">
            <div class="container">
                <p class="title">功能表</p>
                <div class="function">
                    <a>
                        <button class="sqr-button button-ani">
                            <div class="icon icon-devices"></div>
                            <p>我的裝置</p>
                        </button>
                    </a>
                    <a>
                        <button class="sqr-button button-ani">
                            <div class="icon icon-devices"></div>
                            <p>我的裝置</p>
                        </button>
                    </a>
                    <a>
                        <button class="sqr-button button-ani">
                            <div class="icon icon-devices"></div>
                            <p>我的裝置</p>
                        </button>
                    </a>
                    <a>
                        <button class="sqr-button button-ani">
                            <div class="icon icon-devices"></div>
                            <p>我的裝置</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="container">
                <p class="title">聯絡我們</p>
                <p class="inline-title">資訊組長 - 魏仲良</p>
                <p class="inline">dcsh313@dcsh.tp.edu.tw</p>
                <p class="inline">2533-4017#313</p>
                <p class="inline-title">資訊社</p>
                <p class="inline">@dzif_24th</p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>