{% load static %}

<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock title %} | 大直高中無線網路</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" size="16x16 24x24 32x32 48x48 64x64 72x72 80x80 96x96 128x128 256x256" href="{% static 'img/favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <a href="{% url 'homepage' %}">
                <li>
                    <div class="logo">
                        <div></div>
                        <p>大直高中無線網路</p>
                    </div>
                </li>
            </a>
    
            <a href="{% url 'homepage' %}" class="nav-ani">
                <li>
                    <p id="homepage-button">首頁</p>
                </li>
            </a>
    
            {% if user.is_authenticated %}
                <a href="{% url 'device_managing' %}" class="nav-ani">
                    <li>
                        <p>我的裝置</p>
                    </li>
                </a>
                {% if perms.main.admin %}
                    <a href="{% url 'group_managing' %}" class="nav-ani">
                        <li>
                            <p>群組管理</p>
                        </li>
                    </a>
                    <a href="{% url 'user_managing' %}" class="nav-ani">
                        <li>
                            <p>人員管理</p>
                        </li>
                    </a>
                    <a href="{% url 'manage' %}" class="nav-ani">
                        <li>
                            <p>裝置管理</p>
                        </li>
                    </a>
                {% endif %}
                <div class="nav-spacer"></div>
                <li class="dropdown">
                    <a class="nav-ani">{{ now_user }}</a>
                    <ul>
                        <a href="{% url 'password' %}" class="nav-ani">
                            <li>
                                <p>變更密碼</p>
                            </li> 
                        </a>
                        <a href="{% url 'logout' %}" class="nav-ani">
                            <li>
                                <p>登出</p>
                            </li> 
                        </a>
                    </ul>
                </li>
            {% else %}
            <div class="nav-spacer"></div>
            <a href="{% url 'login' %}" class="nav-ani">
                <li>
                    <p>登入</p>
                </li>
            </a>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        <div class="main">
            {% block body %}{% endblock body %}
        </div>
        <div class="side">
            <div class="container">
                <p class="title">功能表</p>
                <div class="function">
                    {% if user.is_authenticated %}
                        <a href="{% url 'device_managing' %}">
                            <button class="sqr-button button-ani">
                                <div class="icon icon-devices"></div>
                                <p>我的裝置</p>
                            </button>
                        </a>
                        {% if perms.main.admin %}
                            <a href="{% url 'group_managing' %}">
                                <button class="sqr-button button-ani">
                                    <div class="icon icon-group"></div>
                                    <p>群組管理</p>
                                </button>
                            </a>
                            <a href="{% url 'user_managing' %}">
                                <button class="sqr-button button-ani">
                                    <div class="icon icon-contact_page"></div>
                                    <p>人員管理</p>
                                </button>
                            </a>
                            <a href="{% url 'manage' %}">
                                <button class="sqr-button button-ani">
                                    <div class="icon icon-folder_managed"></div>
                                    <p>裝置管理</p>
                                </button>
                            </a>
                            <a href="{% url 'admin:index' %}">
                                <button class="sqr-button button-ani">
                                    <div class="icon icon-developer_mode"></div>
                                    <p>後台</p>
                                </button>
                            </a>
                        {% endif %}
                        <a href="{% url 'password' %}">
                            <button class="sqr-button button-ani">
                                <div class="icon icon-password"></div>
                                <p>變更密碼</p>
                            </button>
                        </a>
                        <a href="{% url 'logout' %}">
                            <button class="sqr-button button-ani">
                                <div class="icon icon-logout"></div>
                                <p>登出</p>
                            </button>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <button class="sqr-button button-ani">
                                <div class="icon icon-login"></div>
                                <p>登入</p>
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <p class="title">聯絡我們</p>
                <p class="inline-title">資訊組長 - 魏仲良</p>
                <p class="inline">dcsh313@dcsh.tp.edu.tw</p>
                <p class="inline">2533-4017#313</p>
                <p class="inline-title">資訊社</p>
                <p class="inline">@dzif_24th</p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>