{% extends 'base.html' %}

{% block title %}
    {% if device.Owner == now_user or now_user.UserType == 0 %}
        刪除裝置
    {% else %}
        沒有權限
    {% endif %}
{% endblock title %}

{% block body %}
    <div class="container">
        {% if device.Owner == now_user or now_user.UserType == 0 %}

            <div class="title">
                <div class="icon icon-devices"></div>
                <div class="head">
                    <p>刪除裝置</p>
                    <p>{{ device.Name }}</p>
                </div>
            </div>

            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="function">
                    <input class="primary-button large-button warring-button button-ani" type="submit" value="刪除">
                    <input class="primary-button large-button white-button button-ani" type="button" value="返回" onclick="javascript:window.history.back();">
                </div>
            </form>
        {% else %}
            <p class="title">您無法刪除他人的裝置</p>
            <div class="hr"></div>
            <div class="function">
                <button class="primary-button large-button white-button button-ani" onclick="javascript:window.history.back();">
                    返回
                </button>
            </div>
        {% endif %}
    </div>
{% endblock body %}