{% extends 'base.html' %}

{% block title %}
    刪除 
    {% if device.Owner.UserType == 2 %}
        {{ device.Owner.Grade }}{{ device.Owner.Class|stringformat:"02i" }}{{ device.Owner.SeatNumber|stringformat:"02i" }} {{ device.Owner.Name }} 的 {{ device.Name }}
    {% elif device.Owner.UserType == 1 %}
        老師 {{ device.Owner.Name }} 的 {{ device.Name }}
    {% else %}
        管理員 {{ device.Owner.Name }} 的 {{ device.Name }}
    {% endif %}
{% endblock title %}

{% block body %}

<p>刪除 {% if device.Owner.UserType == 2 %}{{ device.Owner.Grade }}{{ device.Owner.Class|stringformat:"02i" }}{{ device.Owner.SeatNumber|stringformat:"02i" }} {{ device.Owner.Name }} 的 {{ device.Name }}{% elif device.Owner.UserType == 1 %}老師 {{ device.Owner.Name }} 的 {{ device.Name }}{% else %}管理員 {{ device.Owner.Name }} 的 {{ device.Name }}{% endif %}</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="確認刪除">
    <input type="button" value="取消" onclick="javascript:window.history.back();">
</form>

{% endblock body %}