{% extends 'base.html' %}

{% block title%}我的裝置{% endblock title %}

{% block body %}

<a href="{% url 'device_create' %}">新增裝置</a>


<table>
  <tr>
    <th>使用者</th>
    <th>裝置名稱</th>
    <th>MAC位址</th>
    <th>操作</th>
  </tr>
  {% for device in devices %}
    <tr>
      <td>
        {% if device.Owner.UserType == 2 %}
          {{ device.Owner.Grade }}{{ device.Owner.Class|stringformat:"02i" }}{{ device.Owner.SeatNumber|stringformat:"02i" }} {{ device.Owner.Name }}
        {% elif device.Owner.UserType == 1 %}
          老師 - {{ device.Owner.Name }}
        {% else %}
          管理員 - {{ device.Owner.Name }}
        {% endif %}
      </td>
      <td>{{ device.Name }}</td>
      <td>{{ device.MacAddress }}</td>
      <td>
        <a href="{% url 'device_edit' device.id %}">編輯</a>
        <a href="{% url 'device_delete' device.id %}">刪除</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock body %}








