{% extends 'base.html' %}

{% load static %}

{% block title %}首頁{% endblock title %}

{% block body %}

{% if user.is_authenticated %}
    <div class="user-info">
        <div>
            <p>{{ now_user }}</p>
            <p>{{ now_user.Email }}</p>
        </div>
        <div class="spacer"></div>
        <div>
            <p>所在群組</p>
            <p>{{ now_user_group }}</p>
        </div>
        <div class="spacer"></div>
        <div>
            <p>可否上網</p>
            <p>{% if now_user.Internet %}可{% else %}否{% endif %}</p>
        </div>
    </div>
    
    <div class="container">
        <p class="title">我的裝置</p>
        <div class="hr"></div>
        <div class="blocks">
            {% for device in devices %}
                <a class="ctx_block button-ani" href="{% url 'device_edit' device.id %}">
                    <div class="icon icon-devices"></div>
                    <p>{{ device.Name }}</p>
                </a>
            {% endfor %}
        </div>
        {% if devices|length == 0 %}
            <p class="inline">
                您還沒有裝置，
                <a href="{% url 'device_create' %}">
                    <button class="rect-button button-ani">
                        <div class="icon icon-add"></div>
                        <p>新增裝置</p>
                    </button>
                </a>
                吧！
            </p>
        {% endif %}
    </div>

{% else %}
    
    <div class="homepage">
        <div class="text">
            <p class="title-1">大直高中無線網路</p>
            <p class="title-2">自由連網，輕鬆管理</p>
            <p class="title-3">「讓您以最快的速度連接至無線網路」</p>
            <a href="{% url 'login' %}">
                <button class="primary-button large-button button-ani">登入</button>
            </a>
        </div>
        <img src="{% static 'img/products.png' %}" alt="" class="img">
    </div>

{% endif %}

{% endblock body %}






