{% extends 'base.html' %}

{% load static %}

{% block title %}大直高中無線網路{% endblock title %}

{% block body %}

<!--<p>首頁</p>

<p>歡迎使用大直高中無線網路帳號管理系統</p>

<hr>-->

{% if user.is_authenticated %}
    <div class="user-info">
        <div>
            <p>{{ now_user }}</p>
            <p>{{ now_user.Email }}</p>
        </div>
        <div></div>
        <div>
            <p>所在群組</p>
            <p>{{ now_user_group.Name }}</p>
        </div>
    </div>
    
    <div class="container">
        <p class="title">我的裝置</p>
        <div class="hr"></div>
        <div class="blocks">
            {% for device in devices %}
                <a class="ctx_block button-ani" href="{% url 'device_edit' device.id %}">
                    <div class="icon"></div>
                    <p>{{ device.Name }}</p>
                </a>
            {% endfor %}
        </div>
    </div>

{% else %}
    <p>請登入系統以使用服務</p>
    <a href="{% url 'login' %}">
        <button class="button">登入</button>
    </a>

    <p>沒有帳號？請至資訊組詢問狀況。</p>

    <p>預設帳號：？？？</p>
    <p>預設密碼：？？？</p>
{% endif %}

{% endblock body %}






