{% extends 'base.html' %}

{% block title %}大直高中無線網路{% endblock title %}

{% block body %}

<!--<p>首頁</p>

<p>歡迎使用大直高中無線網路帳號管理系統</p>

<hr>-->

{% if user.is_authenticated %}
    {{ now_user }}，歡迎
    <a href="{% url 'device_managing' %}">
        <button id="device_managing-button">我的裝置</button>
    </a>
    <a href="{% url 'manage' %}">
        <button id="manage-button" >裝置管理</button>
    </a>
    <!--{% if perms.main.admin %}
            <a href="{% url 'group_managing' %}">
                <button id="group_managing-button">群組管理</button>
            </a>
            {%endif%}-->
{% else %}
    <p>請登入系統以使用服務</p>
    <a href="{% url 'login' %}">
        <button class="button">登入</button>
    </a>

    <p>沒有帳號？請至資訊組詢問狀況。</p>

    <p>預設帳號：？？？</p>
    <p>預設密碼：？？？</p>
{% endif %}

{% endblock body %}






