{% extends 'base.html' %}

{% block title %}裝置管理{% endblock title %}

{% block body %}
<a href="{% url 'device_create' %}">新增裝置</a>

<table class="manage-table">
  <tr>
    <th>擁有者</th>
    <th>裝置名稱</th>
    <th>MAC位址</th>
    <th>操作</th>
  </tr>
  {% for device in devices %}
  <tr {% cycle 'class="odd"' 'class="even"' %}>
    <td>
      {% if device.Owner.UserType == 2 %}
        學生 - {{ device.Owner.Grade }}{{ device.Owner.Class|stringformat:"02i" }}{{ device.Owner.SeatNumber|stringformat:"02i" }} {{ device.Owner.Name }}
      {% elif device.Owner.UserType == 1 %}
        老師 - {{ device.Owner.Name }}
      {% else %}
        管理員 - {{ device.Owner.Name }}
      {% endif %}
    </td>
    <td>{{ device.Name }}</td>
    <td>{{ device.MacAddress }}</td>
    <td>
      <a class="manage-edit" href="{% url 'device_edit' device.id %}">編輯</a>
      <a class="manage-edit" href="{% url 'device_delete' device.id %}">刪除</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock body %}
