{% extends 'base.html' %}

{% block title %}裝置管理{% endblock title %}

{% block body %}
<div class="container">
    <div class="head">
        <p class="title">裝置管理</p>
        <a href="{% url 'admin_device_create' %}">
            <button class="rect-button button-ani">
                <div class="icon icon-add"></div>
                <p>新增裝置</p>
            </button>
        </a>
        <a href="{% url 'device_batch_create' %}">
            <button class="rect-button button-ani">
                <div class="icon icon-terminal"></div>
                <p>批次新增 / 更新裝置</p>
            </button>
        </a>
    </div>
    <div class="hr"></div>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th></th>
                <th>身分</th>
                <th>擁有人</th>
                <th>裝置名稱</th>
                <th>MAC位址</th>
                <th>操作</th>
            </tr>
            
            {% for device in devices %}
                <tr>
                    <td><input type="checkbox" name="selected_objects" value="{{ device.id }}"></td>
                    <td>
                        {% if device.Owner.UserType == 2 %}
                            學生
                        {% elif device.Owner.UserType == 1 %}
                            老師
                        {% else %}
                            管理員
                        {% endif %}
                    </td>
                    <td>
                        {% if device.Owner.UserType == 2 %}
                            {{ device.Owner.Grade }}{{ device.Owner.Class|stringformat:"02i" }}{{ device.Owner.SeatNumber|stringformat:"02i" }} {{ device.Owner.Name }}
                        {% elif device.Owner.UserType == 1 %}
                            {{ device.Owner.Name }}
                        {% else %}
                            {{ device.Owner.Name }}
                        {% endif %}
                    </td>
                    </td>
                    <td><a href="{% url 'admin_device_edit' device.id %}">{{ device.Name }}</a></td>
                    <td>{{ device.MacAddress|slice:"0:2" }}:{{ device.MacAddress|slice:"2:4" }}:{{ device.MacAddress|slice:"4:6" }}:{{ device.MacAddress|slice:"6:8" }}:{{ device.MacAddress|slice:"8:10" }}:{{ device.MacAddress|slice:"10:12" }}</td>
                    <td class="function">
                        <a href="{% url 'admin_device_edit' device.id %}">
                            <p class="movement">編輯</p>
                        </a>
                        <a href="{% url 'admin_device_delete' device.id %}">
                            <p class="movement">刪除</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" class="primary-button warring-button button-ani mgt16px" value="刪除所選裝置">
    </form>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="control" href="?page=1">
                <p>&laquo; 第一頁</p>
            </a>
            <a class="control" href="?page={{ page_obj.previous_page_number }}">
                <p>&lt; 前一頁</p>
            </a>
        {% else %}
            <div class="control disable">
                <p>&laquo; 第一頁</p>
            </div>
            <div class="control disable">
                <p>&lt; 前一頁</p>
            </div>
        {% endif %}
        {% if 0 < page_obj.number|add:"-2"%}
            {% if page_obj.number|add:"3" <= page_obj.paginator.num_pages %}
                {% for page_cnt in page_obj.paginator %}
                    {% if page_obj.number|add:"-2" <= forloop.counter and forloop.counter < page_obj.number|add:"3" %}
                        {% if page_obj.number == forloop.counter %}
                            <a class="page now" href="?page={{forloop.counter}}">
                                <p>{{ forloop.counter }}</p>
                            </a>
                        {% else %}
                            <a class="page" href="?page={{forloop.counter}}">
                                <p>{{ forloop.counter }}</p>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page_cnt in page_obj.paginator %}
                    {% if page_obj.paginator.num_pages|add:"-5" < forloop.counter and forloop.counter <= page_obj.paginator.num_pages %}
                        {% if page_obj.number == forloop.counter %}
                            <a class="page now" href="?page={{forloop.counter}}">
                                <p>{{ forloop.counter }}</p>
                            </a>
                        {% else %}
                            <a class="page" href="?page={{forloop.counter}}">
                                <p>{{ forloop.counter }}</p>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% for page_cnt in page_obj.paginator %}
                {% if forloop.counter <= 5 %}
                    {% if page_obj.number == forloop.counter %}
                        <a class="page now" href="?page={{forloop.counter}}">
                            <p>{{ forloop.counter }}</p>
                        </a>
                    {% else %}
                        <a class="page" href="?page={{forloop.counter}}">
                            <p>{{ forloop.counter }}</p>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if page_obj.has_next %}
            <a class="control" href="?page={{ page_obj.next_page_number }}">
                <p>下一頁 &gt;</p>
            </a>
            <a class="control" href="?page={{ page_obj.paginator.num_pages }}">
                <p>最後一頁 &raquo;</p>
            </a>
        {% else %}
            <div class="control disable">
                <p>下一頁 &gt;</p>
            </div>
            <div class="control disable">
                <p>最後一頁 &raquo;</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock body %}
