{% extends 'base.html' %}

{% block title %}
刪除人員
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="title">
            <p>刪除人員</p>
        </div>

        <div class="hr"></div>
        
        <p class="inline">確定刪除以下人員嗎？</p>

        <div class="spacer"></div>

        <div class="big_ctx_block">
            <div class="icon icon-contact_page"></div>
            <div class="head-info">
                <p class="title">{{ now_delete_member }}</p>
                <p>{{ now_delete_user }}</p>
                <p>擁有 {{ now_delete_member_device }} 台裝置</p>
            </div>
        </div>

        <form action="" method="post" class="form">
            {% csrf_token %}

            <div class="function">
                <input class="primary-button large-button warring-button button-ani" type="submit" value="刪除">
                <input class="primary-button large-button white-button button-ani" type="button" value="返回" onclick="javascript:window.history.back();">
            </div>
        </form>
    </div>
{% endblock body %}