{% extends 'base.html' %}

{% block title %}人員編輯{% endblock title %}

{% block body %}

<div class="container">
    <div class="title">
        <div class="icon icon-contact_page"></div>
        <p>{{ now_edit_member.Name }}</p>
        <a href="">
            <button class="sqr-button button-ani r20px">
                <div class="icon icon-delete"></div>
                <p>刪除人員</p>
            </button>
        </a>
    </div>

    <div class="hr"></div>

    <form action="" method="post" class="form">
        {% csrf_token %}

        {% for field in form %}
            <div class="field">
                <p>{{ field.label }}</p>
                <div>
                    {{ field }}
                    {% if field.errors %}
                        <p>{{ field.errors }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
        <div class="function">
            <input class="primary-button large-button button-ani" type="submit" value="確定">
            <input class="primary-button large-button white-button button-ani" type="button" value="返回" onclick="javascript:window.history.back();">
        </div>
    </form>
</div>

{% endblock body %}